<div id="menulist" data-role="view" data-title="HomeDelivery" data-layout="main" data-model="app.Menu" data-init="app.Menu.onInit" data-after-show="app.Menu.afterShow"  data-show="app.Menu.onShow">
    <header data-role="header">
        <div data-role="navbar">
            <img src="images/logo-blanco.png" alt="logo" width="70%" height="auto"> 
        </div>
    </header>
    <div class="content">
        <div class="container">
            <ul class="nav nav-pills-icons nav-stacked" style="margin-top: 30px;">
                <li><a onclick="servicios()" ><i class="fa fa-tasks fa-fw" aria-hidden="true"></i> Mis Envíos</a></li>
                <li><a onclick="nuevoservicio()"><i class="fa fa-paper-plane fa-fw" aria-hidden="true"></i> Nuevo Envío</a></li>
                <li id="reastreo" style="display:none;"><a onclick="rastrearservicio()"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> Rastrear Envío</a></li>
                <li><a onclick="iraperfil()"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Perfil</a></li>
                <li><a onclick="salir()"> <i class="fa fa-times fa-fw" aria-hidden="true"></i> Salir</a></li>
            </ul>
        </div>
    </div>
</div>