<div id="menulist" data-role="view" data-title="HomeDelivery" data-layout="main" data-model="app.Menu" data-init="app.Menu.onInit" data-after-show="app.Menu.afterShow"  data-show="app.Menu.onShow">
    <header data-role="header">
        <div data-role="navbar">
            <img src="images/logo-blanco.png" alt="logo" width="70%" height="auto"> 
        </div>
    </header>
	<div class="content">
		<div class="container">
			<ul class="nav nav-pills-icons nav-stacked" style="margin-top: 30px;">
				<li onclick="servicios()" class="list-group-item"><i class="fa fa-tasks fa-2x fa-fw" aria-hidden="true" style="vertical-align: middle;"></i> <font size="4"> MIS ENVÍOS</font></li>
				<li onclick="nuevoservicio()" class="list-group-item"><i class="fa fa-paper-plane fa-2x fa-fw" aria-hidden="true" style="vertical-align: middle;"></i><font size="4"> NUEVO ENVÍO </font></li>
				<li id="reastreo" style="display:none;" class="list-group-item" onclick="rastrearservicio()"><i class="fa fa-map-marker fa-2x fa-fw" aria-hidden="true" style="vertical-align: middle;" ></i><font size="4"> RASTREAR ENVÍO </font></li>
				<li onclick="iraperfil()" class="list-group-item"><i class="fa fa-user fa-2x fa-fw" aria-hidden="true" style="vertical-align: middle;"></i><font size="4"> PERFIL </font></li>
				<li onclick="salir()" class="list-group-item"><i class="fa fa-times fa-2x fa-fw" aria-hidden="true" style="vertical-align: middle;"></i><font size="4"> SALIR </font></li>
			</ul>
        </div>
	</div>
</div>