<div id="serviciosactivos" data-role="view" data-title="ENVÍOS ACTIVOS" data-layout="main" data-model="app.rastrear" data-init="app.rastrear.onInit" data-after-show="app.rastrear.afterShow" data-before-show="cargadata" data-show="app.rastrear.onShow">
    <header data-role="header">
        <div data-role="navbar"> <!-- clase -->
            <span data-role="view-title"></span>
            <a data-align="left" class="fa fa-reply" href="components/Menu/menu.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <ul id="enviosacti" class="nav nav-stacked">
                <li>
                    <div class="row">
                        <ul data-role="listview" data-click="app.rastrear.listViewClick" data-bind="source: rastre" data-fixed-headers="true" data-template="my-templateras" data-pull-to-refresh="true" data-append-on-refresh="false">
                        </ul>
                        <script type="text/x-kendo-template" id="my-templateras">
                            <div class="col-xs-4 text-center">
                                <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                                <small style="clear: both; display:block;">#: RProductos #</small>
								<small style="clear: both; display:block;">#: status #</small>
                            </div>
                            <div>
                                <ul class="list-unstyled">
                                    <li><strong>Origen:</strong>#: Dorigen #</li>
                                    <li><strong>Destino:</strong>#: Ddestino #</li>
                                    <li><strong>Precio:</strong>#: precio #</li>
                                </ul>
                            </div>
                        </script>
                    </div>
                </li>
            </ul>
	    </div>
    </div>
</div>