<div id="terminos" data-role="view" data-title="Términos y Condiciones" data-layout="main" data-model="app.terminos" data-after-show="app.terminos.afterShow" data-show="app.terminos.onShow" data-stretch="true">
    <header data-role="header">
        <div data-role="navbar"> 
            <span data-role="view-title"></span> 
            <a data-align="left" class="fa fa-reply" onclick="revisa()" aria-hidden="true" data-role="button"></a>
        </div>
        
    </header>
    <div class="container" style="width: 100%; height: 100%; position: absolute;">
        <p> <textarea id="terminos" disabled="true">Terminos Y Condiciones</textarea> </p>
    </div>
</div>