<div data-role="view" data-title="NUEVO ENVÍO" data-layout="main" data-model="app.nuevoservicio" data-show="app.nuevoservicio.onShow"
    data-after-show="app.nuevoservicio.afterShow" data-init="app.nuevoservicio.onInit">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-align="left" class="fa fa-reply" href="components/Menu/menu.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div class="content" style=" padding: 30px 0px;">
        <div class="container">
            <div >
                <form id="nuevo-envio" class="form-inline">
                    <div class="col-md-12"> 
						<input id="comboboxempresaNue" class="form-control" placeholder="Empresa"> 
					</div>
                    <div class="col-md-12">
                    	<input id="comboboxproductoNue" type="text" class="form-control" placeholder="Tipo Producto"> 
					</div>
                    <div class="col-md-12"> 
						<input id="fecharecogeNue"  name="start" class="form-control" placeholder="Fecha Solicitada">                        
					</div>
                    <div class="col-md-12">
                        <input id="origenNue" type="text" placeholder="Dirección de origen" class="form-control" >
                    </div>
                    <div class="col-md-12">
                        <input id="destinoNue" type="text"  placeholder="Dirección de destino" class="form-control" >
                    </div>
                    <div class="col-md-12">
                        <input id="tramiteNue" type='checkbox'/>
                        <strong>Incluye trámite</strong>
                        <br>
                        <input id="idavueltaNue" type='checkbox' />
                        <strong>Ida y vuelta</strong>
                        <br><br>
                    </div>
                    <div class="col-md-12"> 
                        <textarea id="observacionesNue" class="form-control" rows="3" placeholder="Observaciones"></textarea> 

						<input id="AceptaTerm" type='checkbox' />
                        <strong>Acepta términos y condiciones</strong>
                        <br><br>

						<a  id="guardar" type="submit" class="btn btn-primary btn-block btn-lg">COTIZAR ENVÍO</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>