<div id="servicioslist" data-role="view" data-title="MIS ENVÍOS" data-layout="main" data-model="app.servicios" data-init="app.servicios.onInit" data-after-show="app.servicios.afterShow" data-before-show="cargadata" data-show="app.servicios.onShow">
    <header data-role="header">
        <div data-role="navbar"> <!-- clase -->
            <span data-role="view-title"></span>
            <a data-align="left" class="fa fa-reply" href="components/Menu/menu.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <ul id="envios" class="nav nav-stacked">
                <li>
                    <div class="row">
                        <ul data-role="listview" data-click="app.servicios.listViewClick" data-bind="source: datos" data-fixed-headers="true" data-template="my-template" data-pull-to-refresh="true" data-append-on-refresh="false">
                        </ul>
                        <script type="text/x-kendo-template" id="my-template">
                            <div id="divclase" class="col-xs-4 text-center blue">
								# if (RProductos === 'Documentos') { #
								<i class="fa fa-envelope fa-3x"></i>
								# } else if (RProductos === 'Paquete'){ #
								<i class="fa fa-archive fa-3x"></i>
								# } else if (RProductos === 'Consignación'){ #
								<i class="fa fa-university fa-3x"></i>
								# } #

                                <small style="clear: both; display:block;" class="black">#: RProductos #</small>
                                <small style="clear: both; display:block;" class="black">#: status #</small>
                            </div>
                            <div>
                                <ul class="list-unstyled">
                                    <li><strong class="black">Origen: </strong>#: Dorigen #</li>
                                    <li><strong class="black">Destino: </strong>#: Ddestino #</li>
									# precio= kendo.toString(parseInt(precio), "c0");#
                                    <li><strong class="black">Precio: </strong>#:   precio #</li>
                                </ul>
                            </div>
                        </script>
                    </div>
                </li>
            </ul>
	    </div>
    </div>
</div>